<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <!-- Viewport Init -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        YTStream Player
    </title>

    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

    <!-- Jquery Import -->
    <script>
        window.jQuery = window.$ = require('jquery');
    </script>

    <!-- Popper & Bootstrap Import -->
    <script defer src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script defer src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- main CSS Import -->
    <link rel="stylesheet" href="main.css">

    <!-- React Import -->
    <!-- Electron Import -->
    <!-- index.js Import -->
    <script src="src/index.js"></script>
</head>

<body>
    <div class="jumbotron bg-light" id="wrapper">

        <!-- Navigation bar -->
        <div id="navbar-div">

        </div>


        <!-- Main div -->
        <div class="vertical-center text-center container" id="main">
        </div>

        <!-- Footer -->
        <div id="footer-div">

        </div>
    </div>
</body>

</html>