<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <!-- Viewport Init -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTStream Player</title>

    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

    <!-- Jquery Import -->
    <script>
        window.jQuery = window.$ = require('jquery');
    </script>

    <!-- Popper & Bootstrap Import -->
    <script defer src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script defer src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- main CSS Import -->
    <link rel="stylesheet" href="main.css">

    <!-- React Import -->
    <script>
        const React = require('react')
        const ReactDOM = require('react-dom')
    </script>

    <!-- index.js Import -->
    <script src="index.js"></script>
</head>

<body>
    <div class="jumbotron bg-light" id="wrapper">

        <!-- Navigation bar -->
        <nav class="navbar navbar-dark bg-dark" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand display-4" href="/">YTStream</a>
            </div>
        </nav>

        <!-- Main div -->
        <div class="vertical-center text-center container-fluid" id="main">
            <button type="button" class="btn btn-primary" id="button1">Button!</button>
        </div>

        <!-- Footer -->
        <footer class="footer font-small blue vertical-center text-center" id="footer">
            <div class="lead">
                2020 <a href="https://github.com/DPS0340/YTStream/graphs/contributors">
                    Contributors.
                    </a><br>
                <a href="https://github.com/DPS0340/YTStream/blob/master/LICENSE" style="color: inherit;
                    text-decoration-color:blue;">
                    MIT License
                    </a><br>
            </div>
            <div>
                <a href="https://github.com/DPS0340/YTStream" class="badge badge-secondary">
                    <span class="h4 lead">
                        GitHub
                    </span>
                </a>
                <a href="https://github.com/DPS0340/YTStream" class="badge badge-primary">
                    <span class="h4 lead">
                    Contribute us!
                </span>
                </a><br>
            </div>
        </footer>
    </div>
</body>

</html>