<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>YTStream Player</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <!-- Jquery Import -->
    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
    <!-- Popper & Bootstrap Import -->
    <script defer src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script defer src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- main CSS Import -->
    <link rel="stylesheet" href="main.css">
    <script>
        const React = require('react')
        const ReactDOM = require('react-dom')
    </script>

    <!-- index.js Import -->
    <script src="index.js"></script>
</head>

<body>
    <div class="container">
        <button type="button" class="btn btn-primary" id="button1">Button!</button>
    </div>
</body>

</html>